@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Chivo:ital@1&family=Open+Sans&display=swap');
@import "../Utils/mixins";


.body-background {
    background-image: url(../img/evnt-fond-drawings_gris.svg);
    margin-top: 8vh;
    background-color: #fcfcfc;
    min-width: 150px;
    background-size: contain;
}

main {
    min-height: 70vh;
}


.with-no-margin {
    margin-top: 0px;
}

// .parallax {
//     height: 100%;
//     background-image: url(../img/background.png);
//     /* Create the parallax scrolling effect */
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    padding-left: 0px;
}

p {
    margin: 0px;
}

.main-title {
    @include main-title-font;
}


h2,
h3,
h4,
h5,
h6 {
    @include title-font;
}


body {
    @include text-content-font;
}



input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {
    border: solid;
    border-color: var(--color-input);
    box-shadow: none;
    outline: 0 none;
}

.success-input {
    border: solid;
    border-color: #38cc8c;
    outline: 0 none;
}

.false-input {
    border: solid;
    border-color: #ff7a7a;
    outline: 0 none;
}