@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Chivo:ital@1&family=Open+Sans&display=swap');
@import "../Utils/mixins";

body {
    margin-top: 10vh;
    background-color: #fcfcfc;
    min-width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-background {
    background-image: url(../img/backgrounds/Background-mobile.svg);

    @media (min-width: $small) {
        background-image: url(../img/backgrounds/Background-medium.svg);
    }

    @media (min-width: $medium) {
        background-image: url(../img/backgrounds/Background-medium.svg);
    }
}

.homepage-background {
    background-image: url(../img/backgrounds/background-homepage.svg);
}

.with-no-margin {
    margin-top: 0px;
}

// .parallax {
//     height: 100%;
//     background-image: url(../img/background.png);
//     /* Create the parallax scrolling effect */
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;

}

p {
    margin: 0px;
}

.main-title {
    @include main-title-font;
}


.title {
    @include title-font;
}


.text-content {
    @include text-content-font;
}