.card-evnt {
  border: none;
  // box-shadow: 0px 0px 4px $sub-color;

  &__image--top {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    width: 100%;
    object-fit: cover;




  }

  &__homepage {
    height: 100px;
  }


  &__info {
    background-color: #F2AC1D;
    border-bottom-left-radius: 3px;

  }

  &__action {
    color: #F2AC1D;
    background-image: url(../img/Background/background-right-card.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 3px;
  }



  &__button {
    background-image: url(../img/Background/background-button-card.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px;
    color: #F2AC1D;


    &:hover {
      color: #F5F5F5;
    }

    &:active {
      border: none;
    }
  }
}