@import "../Utils/mixins";

.box--yellow {
  @include shadow-box(5px, 5px, 10px, 0, #333); // Utilisation du mixin avec les valeurs souhaitées
  @include rounded-yellow;
  overflow: hidden;
}

.box__profile--black {

  @include shadow-box(5px, 5px, 10px, 0, #333); // Utilisation du mixin avec les valeurs souhaitées
  @include rounded-yellow;
  background-color: $sub-color;
  width: 25rem;
  height: 25rem;
  color: $main-color;
  font-family: $evnt-font;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}


$yellow-card-margin: 10vh;

.container-yellow-card {
  &-1 {
    margin-left: $yellow-card-margin*-1;


    @media (max-width: 1300px) {
      margin-left: 0vh;
      margin-top: 0vh;
    }

    @media (max-width: $small) {
      margin-left: 2vh;
    }

  }

  &-2 {
    margin-left: $yellow-card-margin ;
    margin-top: -10vh;

    @media (max-width: 1300px) {
      margin-left: 0vh;
      margin-top: 0vh;
    }

    @media (max-width: $small) {
      margin-left: 2vh;
    }
  }

  &-3 {
    margin-left: $yellow-card-margin * 3;
    margin-top: -10vh;

    @media (max-width: 1300px) {
      margin-left: 0vh;
      margin-top: 0vh;
    }

    @media (max-width: $small) {
      margin-left: 2vh;
    }
  }
}




.yellow-card {
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  min-width: 100px;
  width: 15vh;
  height: 15vh;




  @media (max-width: 991px) {

    justify-content: center;
    align-items: center;


    margin-top: 5vh;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 767px) {}

  @media (max-width: $small) {
    width: 10vh;
    height: 10vh;

  }

}

.yellow-card i,
h5 {
  size: 5rem;
}

.black-card {
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 12rem;

  @media (max-width: 991px) {
    width: 8rem;
    height: 8rem;
    justify-content: center;
    align-items: center;

    margin-top: 5vh;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 767px) {
    width: 6rem;
    height: 6rem;
  }
}