.evnt-button {
    @include rounded-yellow;
    color: $sub-color;
    font-family: $evnt-font;
    font-size: 1.5rem;
    border: none;
    padding-right: 1rem;
    padding-left: 1rem;
    width: auto;

}

.evnt-confirm-button {
    color: $main-color;
    background-color: $sub-color;
    font-family: $evnt-font;
    border: none;
    border-radius: 3px;
}


.find-evnt-button {
    border-color: $main-color;
    border-radius: 3px;
    border-width: 2px;
    font-size: 1rem;
    padding: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: $main-color;
    background-color: $sub-color;

    :hover {
        background-color: $main-color;
        color: $sub-color;
    }
}


.evnt-confirm-button:hover {
    color: $sub-color;
    background-color: $main-color;

}

.submit-box-evnt {
    background-color: $sub-color;
    border-radius: 6px;
}

.submit-box-evnt:hover {
    color: $sub-color;
    background-color: $main-color;

}