.card-evnt {
    border: none;
    // box-shadow: 0px 0px 4px $sub-color;

    &__image--top {
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        width: 100%;
        object-fit: cover;




    }

    &__homepage {
        height: 100px;
    }


    &__info {
        background-color: #F2AC1D;
        border-bottom-left-radius: 3px;

    }

    &__action {
        color: #F2AC1D;
        background-image: url(../img/backgrounds/background-right-card.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-right-radius: 3px;
    }



    &__button {
        background-image: url(../img/backgrounds/background-button-card.svg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0px;
        color: #F2AC1D;


        &:hover {
            color: #F5F5F5;
        }

        &:active {
            border: none;
        }
    }
}

article.evnt-single {
    border-radius: 4px;
    overflow: hidden;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 480px;
    transition: ease all 0.25s;
    margin-right: 1em;
}

article.evnt-single:hover,
article.evnt-single:focus {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.padding-evnt {
    padding: 1.5em 1em 1em;
}

article.evnt-single a {
    text-decoration: none;
    color: inherit;
}

article.evnt-single a:hover {
    text-decoration: none;
}

img.img-une {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

ul.details-evnt {
    display: flex;
    gap: 1em;
    text-transform: uppercase;
    font-size: 85%;
    margin-left: 0px;
}

ul.details-evnt img {
    display: inline-block;
    margin-right: 0.2em;
    width: 16px;
    vertical-align: middle;
}

ul.liste-categories {
    display: flex;
    gap: 1em;
}

ul.liste-categories li {
    background-color: #e2e2e2;
    color: #646464;
    padding: 0.5em 1em;
    border-radius: 2px;
    font-size: 90%;
}