/* Panel */
.login-panel {
  margin: auto;
  background-color: #1B1B22;
  border-radius: 6px;
  min-width: 250px;
  max-width: 350px;
  width: 20vw;
  margin-top: 5vh;
  padding-bottom: 20px;
  @include shadow-box(5px, 5px, 20px, 0, #333);

  @media (max-width: $small) {
    width: 80vw;
    min-width: 250px;
    min-height: 450px;
  }

  &__p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  & p {
    color: #F5F5F5;
  }

  /* Logo */

  &__logo {
    padding: 0;
    scale: 1.2;
  }

  /* Button */

  &__button {
    @include text-content-font;
    background-color: #1B1B22;
    border: 1px solid;
    border-color: #F2AC1D;
    color: #F5F5F5;
  }

  &__button:hover {
    background-color: #F2AC1D;
    color: #1B1B22;
  }


  &__button:active {
    border: 1px solid;
    border-color: #F2AC1D;
    color: #F5F5F5;
  }
}