.events_event {
    display: flex;
    flex-direction: column;

    &__cards {
        display: flex;
        justify-content: center;
    }
}

#map_event {

    width: 50vw;
    height: 90vh;
    overflow: hidden;

    @media (max-width: $medium) {
        width: 80vw;
        height: 50vh;
        margin-bottom: 50px;
    }
}

#map {}