#map {
    z-index: 0;
}

.map-dashboard {
    height: 100vh;
    margin-top: 2rem;
}

#filter {

    @media (min-width: $small) {
        margin-bottom: 2em;
    }

    @media (max-width: $small) {

        margin-bottom: 2em;
    }

}

// #map_event {}