.map-dashboard {
    height: 100vh;
    margin-top: 2rem;
}

#filter {

    @media (min-width: $small) {
        padding-top: 4em;
        margin-bottom: 2em;
    }

    @media (max-width: $small) {
        padding-top: 3em;
        margin-bottom: 2em;
    }

}

#map_event {}