.cover-edit-picture {
    position: relative;
    height: 40vh;
    overflow: hidden;

    &__icon {
        position: absolute;
        z-index: 6;
        height: 50px;
        width: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__btn {
        input[type=submit] {
            z-index: 7;
            color: #FCFCFC;
            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 3px;
            border-radius: 20px;
            margin-top: 2vh;
            border: none;
            background-color: $sub-color;
            position: absolute;
            display: flex;
            height: 30px;
            top: 32vh;
            right: 10px;

            &:hover {
                background-color: $main-color;
                color: $sub-color;
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 40vh;
        background: rgba(0, 0, 0, 0.5);

    }

    &__img {
        position: absolute;
        z-index: -2;
        height: 40vh;
        width: 100vw;
        object-fit: cover;
        filter: blur(3px);
        scale: 1.2;
    }
}


#profile-edit-up {
    color: #FCFCFC;
    background-color: $sub-color;
    display: flex;
    flex-direction: row;
    box-shadow: (5px, 5px, 20px, 0, #333);

    & a {
        z-index: 13;
        margin-left: 3vw;
        padding: 0px;
        height: 150px;
        width: 150px;
        transform: translate(0px, -7vh);
    }
}

#profile-edit-picture {
    min-width: 150px;
    height: 150px;
    width: 150px;

    &__img {
        position: absolute;
        z-index: 10;
        height: 150px;
        width: 150px;
        object-fit: cover;
        border-radius: 5px;
        border: solid 1.5px;
        border-color: $sub-color;
    }

    &__icon {
        position: absolute;
        z-index: 12;
        height: 50px;
        width: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 11;
        height: 150px;
        width: 150px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;

    }

    & i {
        position: relative;
        z-index: 3;
    }
}


//Select yellow box in the div container 
.toggle-edit {
    margin-top: 5vh;

    & .row>.box--yellow {
        height: 5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vh;
        min-height: 40px;
        min-width: 200px;

        @media (min-width :$small) {
            margin-bottom: 3vh;
        }

        &>div {
            scale: 1.3;

            & input {
                background-color: $sub-color;
                border: none;
            }
        }
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    min-width: 50px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $sub-color;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    display: flex;
    align-items: center;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    background-color: $main-color;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    margin-left: 4px;
    ;
}

input:checked+.slider {
    background-color: $sub-color;
}

input:focus+.slider {
    box-shadow: 0 0 1px $sub-color;
}

input:checked+.slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

.edit-page-delete {
    margin-top: 2em;
    ;
    display: flex;
    justify-content: center;
}