@import "variables";


@mixin shadow-box($horizontal, $vertical, $blur, $spread, $color) {
  box-shadow: $horizontal $vertical $blur $spread $color;
}

//   # Exemple d'utilisation du mixin avec des paramètres personnalisés

.shadowbox {
  @include shadow-box(5px, 5px, 20px, 0, #333);
  border-radius: 3px;
}

@mixin rounded-yellow {
  border-radius: 3px;
  background-color: $main-color;
}

@mixin rounded-black {
  border-radius: 10px;
  background-color: $sub-color;
}



// Font mixin
// can take size and color as argument, with a default size for each font and a default color being $sub-color


@mixin text-content-font ($fontSize: 1rem, $fontColor: $sub-color) {
  font-family: 'Open Sans', sans-serif;
  font-size: $fontSize;
  color: $fontColor;
}


@mixin main-title-font ($fontSize: 1.3rem, $fontColor: $sub-color) {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: $fontSize;
  color: $fontColor;
}

@mixin title-font ($fontSize: 1.1rem, $fontColor: $sub-color) {
  font-family: 'Chivo', sans-serif;
  font-size: $fontSize;
  color: $fontColor;
}